/* || RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* || GENERAL STYLES */
body {
  background-image: url("station.jpeg");
  background-size: cover;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  min-height: 100vh;
}

h1 {
  margin-top: 1.5rem;
}

h2 {
  font-size: 4.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

button {
  width: 200px;
  margin: 1rem auto;
  border: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #333;
}

button:hover,
button:active {
  transform: translateY(2px);
}

#increment-btn {
  background-color: darkred;
}

#save-btn {
  background-color: darkgreen;
}

#reset-btn {
  background-color: #000;
  color: whitesmoke;
}

#save-el {
  font-size: 1.2rem;
  margin-top: 2rem;
}